p {
    display: inline-block;
    color: black;
    background-color: rgb(235, 150, 52);
    padding: 10px;
    text-align: center;
  }

body {
    background-color: rgb(133, 133, 133);
    font-family: "Audiowide", sans-serif;
    background-image: url(https://cdn.wallpapersafari.com/78/36/zF5kX7.jpg);
     }


footer{
        margin-top: 175px;
        text-align: center;
        padding-top: 20px;
      }

header{
        margin-bottom: 25px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-weight: bold;
        font-size: xx-large;
        text-align: center;
    }

ol{
  list-style-type: decimal;
  list-style-position: inside;
}

span{
  background-color: rgb(235, 150, 52);
  margin: 10px;
  padding: 5px;
}

div{
  margin: 40px;
}