p {
    display: inline-block;
    color: black;
    background-color: rgb(235, 150, 52);
    padding: 10px;
    text-align: center;
  }

body {
    background-color: rgb(133, 133, 133);
     }


footer{
        text-align: center;
        padding-top: 20px;
      }

header{
        padding-bottom: 20px;
        padding-top: 20px;
        font-weight: bold;
        font-size: xx-large;
        text-align: center;
    }